In [1]:
import sqlite3

In [4]:
connction = sqlite3.connect("sample.db")
cursor = connction.cursor()

### order by

In [16]:
select_CMD = "SELECT first_name, last_name FROM people where id > 21 ORDER BY last_name DESC limit 2"
selected_people = cursor.execute(select_CMD)
for person in selected_people:
    print(person)

('Mohamed', 'Essam')
('Ahmed', 'Ali')

In [21]:
select_CMD = "SELECT first_name, last_name FROM people WHERE last_name like '%am' LIMIT 2"
selected_people = cursor.execute(select_CMD)
for person in selected_people:
    print(person)

('Mohamed', 'Essam')
('Mohamed', 'Essam')